.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-container {
    display: flex;
    flex: 1;
  }
  
  .content {
    margin-top: -30px;
    padding: 15px 50px 30px 50px;
    flex: 1;
  }
  
  .content h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  
  .user-name {
    color: red;
  }
  
  .p {
    font-size: 18px;
  }

  .home-container {
    padding: 20px;
  }

  .home-page {
    width: 100%;
  }
  
  .welcome-section {
    margin-bottom: 40px;
  }
  
  .user-name {
    color: #FF0101;
  }
  
  .dashboard-container {
    display: flex;
    gap: 30px;
  }
  
  .charts-container {
    flex: 3;
  
  }
  
  .nutrition-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 1024px) {
    .dashboard-container {
      flex-direction: column;
    }
    
    .nutrition-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  .charts-row {
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  
  .charts-row > div {
    flex: 1;
    max-width: 258px;
  }
