.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 200;
    background-color: #020203;
  }
  
  .main-container {
    display: flex;
    flex: 1;
    padding-top: 60px; 
    padding-left: 50px;
  }
  

  .sidebar {
    position: fixed; 
    top: 90px; 
    left: 0;
    width: 117px;
    height: calc(100vh - 90px);
    background-color: #020203;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    overflow-y: auto;
  }
  
  .content {
    margin-left: 117px; 
    padding: 30px 50px;
    flex: 1;
  }